body {
  height: 100%;
  background-color: transparent;
  color: #FFF;
  text-shadow: 2px 2px 1px #000;
  font-size: 26px;
  padding-bottom: 100px;
}

html {
  background: url("assets/bokeh.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
  font-size: 70px;
}

h2 {
	font-size: 45px;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.lead {
	font-size: 30px;
}

.container {
  max-width: 700px;
}

.row {
  margin-top: 50px;
}

.logos {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.logos img {
  max-height: 150px;
  max-width: 250px;
}
