body {
  height: 100%;
  background-color: transparent;
  font-size: 26px;
  padding-bottom: 100px;
}

html {
  background: url("assets/bokeh.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
  font-size: 70px;
  color: #FFF;
  text-shadow: 2px 2px 1px #000;
}

h2 {
	font-size: 45px;
}

p {
  font-size: .75em;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

.sponsors a {
  color: #2F2FB8;
}
.sponsors a:hover {
  color: #2F2FB8;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.welcome {
  text-align: left;
}
.schedule td {
  font-size: .65em;
  text-align: left;
}

.lead {
	font-size: 30px;
  color: #FFF;
  text-shadow: 2px 2px 1px #000;
}

.links {
  color: #FFF;
  text-shadow: 2px 2px 1px #000;
}

.container {
  max-width: 750px;
}

.row {
  margin-top: 50px;
}

.sponsors {
  background-color: white;
  border-radius: 8px;
  padding: 10px 30px;
}
.sponsors .row {
  margin-top: 0;
}
.sponsor {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 100%;
}
.sponsors-gold .sponsor {
  height: 125px;
}
.sponsors-silver .sponsor {
  height: 90px;
}
@media only screen and (max-width: 768px) {
  .sponsors .sponsor {
    height: 80px;
    margin: 10px 0;
  }
}

.sponsor-adafruit {
  background-image: url("assets/adafruit.png");
}
.sponsor-itp {
  background-image: url("assets/itp.png");
}
.sponsor-littlebits {
  background-image: url("assets/littlebits.svg");
}
.sponsor-makeymakey {
  background-image: url("assets/makeymakey.png");
}
.sponsor-nycda {
  background-image: url("assets/nycda.png");
}
.sponsor-onemonth {
  background-image: url("assets/onemonth.png");
}
.sponsor-skillshare {
  background-image: url("assets/skillshare.svg");
}
.sponsor-versal {
  background-image: url("assets/versal.png");
}
.sponsor-zerocater {
  background-image: url("assets/zerocater.png");
}
