<div class="container text-center">

  <% if notice %>
    <div class="row">
      <div class="alert alert-success">
        <%= notice %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <h1>Education Tools<br /> Hackathon</h1>
    <h3 class="lead">Building resources for the next generation of learning.</h3>
  </div>

  <div class="row">
    <h2>
      October 18 - 19, 2014
    </h2>
    <p>
      NYC
    </p>
    <iframe src="//eventbrite.com/tickets-external?eid=13196243319&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  </div>

  <div class="row">
    <ul>
      <li>
        <a href="https://docs.google.com/document/d/1D5DD-aaiCW8MYz_7IR4u2WVEDdK-uzYw3Ya_pd0hdMw/edit?usp=sharing">Project brainstorming</a>
      </li>
      <!-- <li>
        <a href="https://www.hackerleague.org/hackathons/education-tools-hackathon">Hacker League page</a>
      </li> -->
      <li>
        <a href="https://github.com/fountain/edhacks">Fork this site</a>
      </li>
    </ul>
  </div>
</div>
