<div class="container">

  <div class="row">

    <div class="col-lg-12 text-center v-center">

      <h1>Education Tools<br /> Hackathon</h1>
      <h3 class="lead">Building resources for the next generation of learning.</h3>

      <br><br><br>
      <h2>
        October 18 - 19, 2014<br/>
        <a href="http://flatironschool.com/" target="_blank">Flatiron School</a><br/>
        <a href="http://goo.gl/maps/ArbiA" target="_blank">11 Broadway, NYC</a>
      </h2>
      <%= form_for(@hacker, class: "col-lg-12") do |f| %>
      <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
        <%= f.email_field(:email, class: "form-control input-lg", title: "Don't worry. We hate spam, and will not share your email with anyone.", placeholder: "Enter your email for more info", required: true)  %>
        <span class="input-group-btn">
          <%= f.submit :OK, class: "btn btn-lg btn-primary" %>
        </span>
      </div>
      <% end %>
    </div>

  </div>

  <br><br><br><br><br>

</div>
