<div class="container">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <h1>Thanks!</h1>
          <h3 class="lead">Your email has been recorded.<br /> We'll contact you later with more details.</h3>

        </div>

      </div> <!-- /row -->
</div>
